/* src/styles/AppStyles.css */

/* 標題樣式 */
.title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* 輸入框樣式 */
.input {
    width: 280px;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    text-align: center;
    transition: border-color 0.2s ease-in-out;
    margin: 10px;
}

.input::placeholder {
    color: #aaa;
}

.input:focus {
    border-color: #007bff;
}

/* 按鈕樣式 */
.button {
    width: 280px;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    margin: 10px;
}

.button:hover {
    background-color: #0056b3;
}

/* 可按的文字（類似連結） */
.clickable-text {
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

.clickable-text:hover {
    color: #0056b3;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh
}

/* 提示文字樣式 */
.hint-text {
    margin: 0px;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.error {
    color: red;
}